@model IEnumerable<Ecommerce.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Ecommerce.cshtml";
}

<h2>Product</h2>

<p>
    <a asp-action="Create">Create New Product</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            ProductName
        </th>
        <th>
          Unit Id
        </th>
        <th>
          Unit Price
        </th>
        <th>
          Discount
        </th>
        <th>
          Photo
        </th>
        <th>
           Status
        </th>
        <th>
           IsActive
        </th>
        <th>
           Category ID
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
               @item.ProductName
            </td>
            <td>
               @item.UnitId
            </td>
            <td>
                @item.UnitPrice
            </td>
            <td>
               @item.ApplicableDiscount
            </td>
            <td>
                 @item.Photo
            </td>
            <td>
               @item.Status
            </td>
            <td>
               @item.IsActive
            </td>
            <td>
                @item.CategoryId
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
